<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772498197174-duv2ftcgs6hlitke6pd817ancku28k15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772498197174-duv2ftcgs6hlitke6pd817ancku28k15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772498197174-t48rmujsoou4u34a8df4on9sjrbsfkmq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTRuZ3svb51vLzCLxyu9q0eWUtFCYjDwo</string>
	<key>GCM_SENDER_ID</key>
	<string>772498197174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.speak3</string>
	<key>PROJECT_ID</key>
	<string>speakdata-f1d03</string>
	<key>STORAGE_BUCKET</key>
	<string>speakdata-f1d03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772498197174:ios:f9d47d37d71a0af6023417</string>
</dict>
</plist>